.container {
    background-color: white;
}

.event {
    color: 
    linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.learnButton {
    color: blue;
    text: white;
}

.image-container {
    width: fit-content;
    height: 70%;
}